body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  background-color: #f1f1f1;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    display: grid; 
    align-items: center;
    justify-items: center;
    margin: auto;
    padding: auto;

}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
    .btn {
    padding: 0.25em 0.75em;
  }
}

.controls{
    width: 100%;
    height: 30vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#bar-container{
    margin-top: 15px;
    width: 100%;
    height: 70vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.bar{
    width: 2px;
    height: 20px;
background-color: #2e4edb;
    margin: 0 0.5px;
    display: inline;
    

}
.range-slider-container {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 5px;
    background-color: #000;
    outline: none;
    cursor: pointer;
  }
  
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid;
    border-radius: 50%;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  @media (min-width: 768px) {
    .range-slider::-webkit-slider-thumb {
      width: 30px;
      height: 30px;
    }
  }
  .styled-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .styled-text:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .styled-text:hover:before {
    transform: scaleX(1);
  }
  
  @media (min-width: 768px) {
    .styled-text {
      font-size: 20px;
    }
  }

  .styled-select select {
    
    font-family: "Open Sans", sans-serif;
    width: 200px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .styled-select{
    width: fit-content;
    padding: 7px;
  }
  .styled-select select:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .styled-select select {
      padding: 0.25em 0.75em;
    }
  }
  